.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 120px;
  color: white;
  background-color: transparent; /* Прозрачный фон */
}

.nav-logo {
  font-family: Outfit;
  font-size: 42px;
  font-weight: 500;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  font-size: 18px;
  gap: 90px;
}

.nav-menu li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-menu li a:hover {
  color: #f79569; /* Цвет ссылки при наведении */
}

.nav-contact {
  border-radius: 50px;
  padding: 10px 38px;
  /* background: transparent; Прозрачный фон */
  color: white; /* Белый текст по умолчанию */
  font-weight: 600; /* Жирный текст */
  transition: background-color 0.3s ease, color 0.3s ease;
}
